 <!-- Portfolio Modals -->
 <!-- {% for post in site.posts %} -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ post.title }}</h2>
                            <hr class="star-primary">
                            <img src="img/portfolio/searoad.jpg" class="img-responsive img-centered" alt="{{ post.alt }}">
                            <b>{{ post.description1 }}</b><br/>
                            <p>{{ post.description2 }}</p>
                            <p><b>{{ post.description3 }}</b></p>
                            <p><b>{{ post.description4 }}</b> {{ post.description5 }} </p>
                            <p>{{ post.description6 }}</p>
                            <ul class="list-inline item-details">
                                <li>Client:
                                    <strong><a href="http://searoaddental.com" target="_blank">{{ post.client }}</a>
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong>{{ post.project-date }}</a>
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong>Commercial - Freelancer</a>
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Tiger Construction</h2>
                            <hr class="star-primary">
                            <img src="img/portfolio/tiger.jpg" class="img-responsive img-centered" alt="{{ post.alt }}">
                            <b>Technical Info:</b><br/>
                            <p>Laravel Framework, PHP, MYSQL, HTML, Javascript, CSS, Third Party Libraries(Bootstrap, Datatable JQuery, Form Validation), Git, SSH, </p>
                            <p><b>Reference</b></p>
                            <p><b>Aykut Kilic</b> / Office Manager </p>
                            <p>T: 0203 620 7904</p>
                            <ul class="list-inline item-details">
                                <li>Client:
                                    <strong><a href="http://www.tigerconstruction.co.uk/app" target="_blank">www.TigerConstruction.com/app</a>
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong>July 2015</a>
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong>Commercial - Freelancer</a>
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Danisman UK Car Claim</h2>
                            <hr class="star-primary">
                        <img src="img/portfolio/danisman.jpg" class="img-responsive img-centered" alt="{{ post.alt }}">
                            <b>Technical Info:</b><br/>
                            <p>PHP, MYSQL, HTML, Javascript, CSS, Third Party Libraries(Bootstrap, Datatable JQuery, Form Validation)</p>
                            <p><b>Reference</b></p>
                            <p><b>Huseyin Yildirim</b> / Director of Company </p>
                            <p>T:0208 801 5260</p>
                            <ul class="list-inline item-details">
                                <li>Client:
                                    <strong><a href="http://www.danismanuk.co.uk/form/" target="_blank">Danisman UK Car Claim</a>
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong>January 2015</a>
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong>Commercial - Freelancer</a>
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>FOOTBALL ARC</h2>
                            <hr class="star-primary">
                        <img src="img/portfolio/ios.jpg" class="img-responsive img-centered" alt="{{ post.alt }}">
                            <p>View stats for the season so far and compare performance against other teams in the International and domestic leagues.</p>
                            <ul class="list-inline item-details">
                                <li>Client:
                                    <strong><a href="https://itunes.apple.com/az/developer/ertan-ercan/id764933342" target="_blank">See on Apple Store</a>
                                    </strong>
                                </li>
                                <li>Year:
                                    <strong>2014</a>
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong>Non Commercial</a>
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>UK Sim Deals</h2>
                            <hr class="star-primary">
                        <img src="img/portfolio/uksim-thumbnail.jpg" class="img-responsive img-centered" alt="{{ post.alt }}">
                            <p>You don't have to check all network providers web site anymore to find best & cheapest Sim Only Deals.With "UK Sim Deals" App now so much easy.</p>
                            <ul class="list-inline item-details">
                                <li>Client:
                                    <strong><a href="https://itunes.apple.com/az/app/uk-sim-deals/id792233893?mt=8" target="_blank">See on Apple Store</a>
                                    </strong>
                                </li>
                                <li>Year:
                                    <strong>2014</a>
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong>Non Commercial</a>
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>UK Qualitas</h2>
                            <hr class="star-primary">
                        <img src="img/portfolio/ukqualitas-thumbnail.jpg" class="img-responsive img-centered" alt="{{ post.alt }}">
                            <b>Technical Info:</b><br/>
                            <p>HTML, Javascript, CSS</p>
                            <p></p>
                            <ul class="list-inline item-details">
                                <li>Client:
                                    <strong><a href="http://ukqualitas.com" target="_blank">Gizem Demirci</a>
                                    </strong>
                                </li>
                                <li>Year:
                                    <strong>2014</a>
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong>Comercial - Freelancer</a>
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal7" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Rainbow Babysitting</h2>
                            <hr class="star-primary">
                        <img src="img/portfolio/rainbowbabysitting-thumbnail.jpg" class="img-responsive img-centered" alt="{{ post.alt }}">
                            <b>Technical Info:</b><br/>
                            <p>HTML, Javascript, CSS</p>
                            <p></p>
                            <ul class="list-inline item-details">
                                <li>Client:
                                    <strong><a href="http://rainbowbabysitting.com" target="_blank">Umran Demir</a>
                                    </strong>
                                </li>
                                <li>Year:
                                    <strong>2014</a>
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong>Comercial - Freelancer</a>
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- {% endfor %} -->
