<!-- Team Section -->
    <section id="technicals" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Technical Skills</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                <h4 class="text-center">Programming Skills</h4>
                    <div>
                    <table style="width:100%">
                      <tr>
                        <td align="left">PHP</td>
                        <td>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </td>
                      </tr>
                      <tr>
                        <td align="left">MySQL</td>
                        <td>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </td>
                      </tr>
                      <tr>
                        <td align="left">HTML, JavaScript, CSS</td>
                        <td>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </td>
                      </tr>
                      <tr>
                        <td align="left">IOS Objective C, Swift</td>
                        <td>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </td>
                      </tr>
                      <tr>
                        <td align="left">Core Data</td>
                        <td>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </td>
                      </tr>
                      <tr>
                        <td align="left">.NET, C#, ASP.NET</td>
                        <td>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>

                        </td>
                      </tr>
                    </table>
                       


                        
                    </div>
                </div>
                <div class="col-sm-4">
                    <div>
                    <h4 class="text-center">Main Frameworks</h4>
                     <table style="width:100%">
                      <tr>
                        <td align="center"> Laravel</td>
                        <td>
                           
                        </td>
                      </tr>
                      <tr>
                        <td align="center"> Bootstrap</td>
                        <td>
                            
                        </td>
                      </tr>
                      <tr>
                        <td align="center">JQuery</td>
                        <td>
                            
                        </td>
                      </tr>
                      <tr>
                        <td align="center"> Datatable JQuery</td>
                        <td>
                            
                        </td>
                      </tr>
                      <tr>
                        <td align="center"> Other Third Part Frameworks</td>
                        <td>

                        </td>
                      </tr>
                      <tr>
                        <td align="center"> </td>
                        <td>

                        </td>
                      </tr>
                    </table>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div>
                    <h4 class="text-center">Development Tools</h4>
                         <table style="width:100%">
                      <tr>
                        <td align="center"> Mac Terminal, SSH (Deployment Project and keeping update using GIT)</td>
                        <td>
                           
                        </td>
                      </tr>
                      <tr>
                        <td align="center"> Sublime Text, PHP Storm</td>
                        <td>
                            
                        </td>
                      </tr>
                      <tr>
                        <td align="center"> Git, Bitbucket</td>
                        <td>
                            
                        </td>
                      </tr>
                      <tr>
                        <td align="center"> Grunt, Sass</td>
                        <td>
                            
                        </td>
                      </tr>
                      <tr>
                        <td align="center"> Xcode</td>
                        <td>

                        </td>
                      </tr>
                      <tr>
                        <td align="center"> Vagrant, VirtualBox</td>
                        <td>

                        </td>
                      </tr>
                      <tr>
                        <td align="center"> DropBox</td>
                        <td>

                        </td>
                      </tr>
                    </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted"></p>
                </div>
            </div>
        </div>
    </section>