<!-- Team Section -->
    <section id="technicals" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Technical Skills</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                <h4 class="text-center">Back-End Developer</h4>
                    <div class="text-center">
                      <img class="img-responsive" src="img/technicals/laravel.png" alt="" width="50px;" style="    left: 0; right: 0; margin: auto;">
                      <p class="section-heading">Laravel</p>    
                      <img class="img-responsive" src="img/technicals/php.png" alt="" width="50px;" style="    left: 0; right: 0; margin: auto;">
                      <p class="section-heading">PHP</p>
                      <img class="img-responsive" src="img/technicals/mysql.png" alt="" width="50px;" style="    left: 0; right: 0; margin: auto;">
                      <p class="section-heading">MYSQL</p>

                      <img class="img-responsive" src="img/technicals/lamp.png" alt="" width="50px;" style="    left: 0; right: 0; margin: auto;">
                      <p class="section-heading">LAMP/LEMP</p>

                    </div>
                </div>

              <div class="col-sm-4">
                  <h4 class="text-center">Front-End Developer</h4>
                    <div class="text-center">
                      <img class="img-responsive" src="img/technicals/html5.png" alt="" width="50px;" style="    left: 0; right: 0; margin: auto;">
                      <p class="section-heading">HTML 5</p>    
                      <img class="img-responsive" src="img/technicals/css.png" alt="" width="50px;" style="    left: 0; right: 0; margin: auto;">
                      <p class="section-heading">CSS</p>
                      <img class="img-responsive" src="img/technicals/jquery.png" alt="" width="50px;" style="    left: 0; right: 0; margin: auto;">
                      <p class="section-heading">jQuery</p>
                      <img class="img-responsive" src="img/technicals/bootstrap.png" alt="" width="50px;" style="    left: 0; right: 0; margin: auto;">
                      
                      <p class="section-heading">Twitter Bootstrap</p>

                    </div>
                </div>


                <div class="col-sm-4">
                  <h4 class="text-center">Development Tools</h4>
                    <div class="text-center">
                      <img class="img-responsive" src="img/technicals/terminal.png" alt="" width="50px;" style="    left: 0; right: 0; margin: auto;">
                      <p class="section-heading">MAC Terminal</p>    
                      <img class="img-responsive" src="img/technicals/ssh.png" alt="" width="50px;" style="    left: 0; right: 0; margin: auto;">
                      <p class="section-heading">SSH</p>

                      <img class="img-responsive" src="img/technicals/git.png" alt="" width="50px;" style="    left: 0; right: 0; margin: auto;">
                      <p class="section-heading">GIT</p>

                      <img class="img-responsive" src="img/technicals/bitbucket.png" alt="" width="50px;" style="    left: 0; right: 0; margin: auto;">
                      <p class="section-heading">Bitbucket</p>

                      <img class="img-responsive" src="img/technicals/sublime.png" alt="" width="50px;" style="    left: 0; right: 0; margin: auto;">
                      <p class="section-heading">Sublime Text</p>

                      <img class="img-responsive" src="img/technicals/gulp.png" alt="" width="50px;" style="    left: 0; right: 0; margin: auto;">
                      <p class="section-heading">Gulp</p>

                      <img class="img-responsive" src="img/technicals/sass.png" alt="" width="50px;" style="    left: 0; right: 0; margin: auto;">
                      <p class="section-heading">SASS</p>

                    </div>
                </div>
                
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted"></p>
                </div>
            </div>
        </div>
    </section>